<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
				<key>dateExpires</key>
				<string>2026/09/16</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
						<key>dateExpires</key>
						<string>2026/09/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U83TC363RM</string>
						<key>name</key>
						<string>Takuma Yoshimura</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
						<key>dateExpires</key>
						<string>2026/09/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunitySpeechRecognition.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U83TC363RM</string>
						<key>name</key>
						<string>Takuma Yoshimura</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
						<key>dateExpires</key>
						<string>2026/09/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U83TC363RM</string>
						<key>name</key>
						<string>Takuma Yoshimura</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
						<key>dateExpires</key>
						<string>2026/09/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PurchasesHybridCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U83TC363RM</string>
						<key>name</key>
						<string>Takuma Yoshimura</string>
					</dict>
					<key>versionNumber</key>
					<string>17.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
						<key>dateExpires</key>
						<string>2026/09/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenueCat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U83TC363RM</string>
						<key>name</key>
						<string>Takuma Yoshimura</string>
					</dict>
					<key>versionNumber</key>
					<string>5.38.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C8E08A17DD6EA8640F45AFFB85F3C48B270B18A</string>
						<key>dateExpires</key>
						<string>2026/09/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenuecatPurchasesCapacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U83TC363RM</string>
						<key>name</key>
						<string>Takuma Yoshimura</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U83TC363RM.com.nextshare.aistudyhigh</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>U83TC363RM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>98d8f503-cccc-4156-9cd1-0f6dafb6f3a4</string>
				<key>dateExpires</key>
				<string>2026/09/16</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.nextshare.aistudyhigh</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U83TC363RM</string>
				<key>name</key>
				<string>Takuma Yoshimura</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
